* {
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
}



.logo {
	max-width: 40px;
	vertical-align: top;
}

.mynavbar {
	padding-bottom: 15px;
}

.my-link {
	color: black;
	text-align: left;
	width: 100px;
}

.mysearch {
	padding-right: 200px;
}

.person-icon {
	width: 40px;
}

.profile-container{
	margin-top: 90px;
}
.profile-container img {
	width: 300px;
	border-radius: 15px;
}

// .information-giant {
// 	font-size: 0;
// }

.profile-container {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}

.profile-container h2, h3 {
	font-size: 20px;
}

.profile-container h2 {
	font-style: italic;
	padding-left: 60px;
	margin-top: 0;
}
.profile-container h4 {
	font-size: 18px;
}

.repo-container {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-top: 70px;

}

.one-repo {
	border-bottom: 1px solid black;
}

.one-repo h1 {
	color: #42699b;
	font-size: 30px;
}

.one-repo h2 {
	color: #777474;
	font-size: 22px;
	margin-top: 0;
}

.fa-star {
	color: #aa9a20;
}
